div.login-area {
    height: 10em;
    margin: 0;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%)
}

h1.login{
    font-size: 1.75em;
}

.login-icon {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}
