.main {
  margin-top: 15px;
  padding: 50px 30px 30px 30px;
}

.footer {
  padding-top: 20px;
  color: #307070;
  border-top: 2px solid #c5c5c5;
  font-size: 16px;
  font-style: italic;
}

.mainGrid {
  margin-bottom: 15px;
  width: auto;
  display: block;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.selected-quotation-card {
  border: solid 2px red;
}
