<div class="login-area">
    <img src="images/login_logo.jpg" class="login-icon">
    <h1 class="text-center login">Product Manager Login</h1>
    <p class="text-center" ng-show="loginState.failed">{{loginState.error}}</p>
    <form ng-submit="login()" class="form-group form-horizontal">
        <div ng-class="{ 'has-error': loginState.failed }">
            <input type="text" class="form-control" placeholder="Username" ng-model="username"></input>
            </br>
            <input type="password" class="form-control" placeholder="Password" ng-model="password"></input>
            </br>
        </div>
        <button type="submit" class="btn btn-primary form-control">Login</button>
    </form>
</div>
