<div cg-busy="trackedPromises">
    <div ng-if="currentUserIsAdmin">
        <div class="dropdown">
            <label>Account: </label>
            </br>
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{selectedUser.username}}
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li ng-repeat="user in users"><a ng-click="changeSelection(user)">{{user.username}}</a></li>
            </ul>
            <button data-toggle="collapse" data-target="#create-fields" class="btn btn-warning">New User</button>
        </div>
        <div>
            <p class="text-center" ng-show="createFailed">{{createError}}</p>
            <div id="create-fields" class="collapse">
                <form name="createForm" ng-submit="createUser(createForm)" class="form-group form-horizontal" novalidate>
                    </br>
                    <div class="form-group" ng-class="{ 'has-error' : createForm.name.$invalid && createForm.$submitted }">
                        <label>Name: </label>
                        <input required name="name" class="form-control" placeholder="Name" ng-model="newUser.name"></input>
                        <div ng-show="createForm.name.$invalid && createForm.$submitted" class="alert alert-warning">
                            <strong>!!</strong> Please enter a name
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : createForm.email.$invalid && createForm.$submitted }">
                        <label>Email: </label>
                        <input name="email" required type=email class="form-control" placeholder="Email" ng-model="newUser.email"></input>
                        <div ng-show="createForm.email.$invalid && createForm.$submitted" class="alert alert-warning">
                            <strong>!!</strong> Please enter a valid email
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : createForm.username.$invalid && createForm.$submitted }">
                        <label>Username: </label>
                        <input name="username" required ng-minlength="6" type=text class="form-control" placeholder="Username" ng-model="newUser.username"></input>
                        <div ng-show="createForm.username.$invalid &&  createForm.$submitted" class="alert alert-warning">
                            <strong>!!</strong> Please enter a valid username (min 6 characters)
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : createForm.password.$invalid  && createForm.$submitted }">
                        <label>Password: </label>
                        <input name="password" required ng-minlength="8" type=password class="form-control" placeholder="Password" ng-model="newUser.password"></input>
                        <div ng-show="createForm.password.$invalid && createForm.$submitted" class="alert alert-warning">
                            <strong>!!</strong> Please enter a valid password (min 8 characters)
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : newUser.passwordRepeat !== newUser.password && createForm.$submitted}">
                        <label>Repeat Password: </label>
                        <input name="passwordRepeat" required type=password class="form-control" placeholder="Repeat Password" ng-model="newUser.passwordRepeat"></input>
                        <div ng-show="newUser.passwordRepeat !== newUser.password && createForm.$submitted" class="alert alert-warning">
                            <strong>!!</strong> Passwords do not match
                        </div>
                    </div>
                    <div ng-repeat="role in roles">
                        <label>
                            <input type="checkbox" ng-model="newUser[role]">{{role}}
                        </label>
                    </div>
                    <button ng-if="createForm.$invalid" type="submit" class="btn btn-primary">Create</button>
                    <button ng-if="!createForm.$invalid" data-toggle="collapse" data-target="#create-fields" type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
    <h1>{{selectedUser.name || "Loading..."}}</h1>
    <p class="text-center" ng-show="updateFailed">{{updateError}}</p>
    <form ng-submit="updateDetails()" class="form-group">
        <div ng-class="{ 'has-error': updateFailed }">
            <label>Username: </label>
            <input readonly type="text" class="form-control" placeholder="{{selectedUser.username}}" ng-model="selectedUser.username"></input>
            </br>
            <label>Name: </label>
            <input type=name class="form-control" placeholder="{{selectedUser.name}}" ng-model="selectedUser.name"></input>
            </br>
            <label>Email: </label>
            <input type=email class="form-control" placeholder="{{selectedUser.email}}" ng-model="selectedUser.email"></input>
            </br>
            <div ng-if="!currentUserIsAdmin">
                <label>Old Password (optional): </label>
                <input type=password ng-minlength="8" class="form-control" placeholder="Old Password" ng-model="selectedUser.oldPassword"></input>
                </br>
            </div>
            <label>New Password (optional): </label>
            <input type=password class="form-control" placeholder="Password" ng-model="selectedUser.password"></input>
            </br>
            <label>Repeat New Password: </label>
            <input type=password class="form-control" placeholder="Repeat Password" ng-model="selectedUser.repeatPassword"></input>
            </br>
            <label ng-if="currentUserIsAdmin">
                <input type="checkbox" ng-model="selectedUser.enabled">Enabled?</label>
            </br>
            <button type="submit" class="btn btn-primary">Update</button>
    </form>
    </div>
