<div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-resize-columns ui-grid-edit ui-grid-selection class="mainGrid"></div>
<button type="button" class="btn btn-md btn-primary" ng-click="newBuyer()">Add Buyer</button>
<button ng-class="{ 'disabled': !buyerSelected }" type="button" class="btn btn-md btn-danger" ng-click="deleteBuyer()">Delete Buyer</button>
