<div class=modal-content>
    <div class=modal-body ng-swipe-left=Lightbox.nextImage() ng-swipe-right=Lightbox.prevImage() ng-controller="CustomLightboxController" ng-init="init(Lightbox)">
        <div class=lightbox-nav>
            <button class=close aria-hidden=true ng-click=$dismiss()>×</button>
            <div>
                <button ng-class="{'disabled': Lightbox.images.length < 2}" class="btn btn-xs" ng-click=Lightbox.prevImage()>‹ Previous</button>
                <h4 style="display:inline; padding:5px">Image {{Lightbox.index+1}} of {{Lightbox.images.length}}</h4>
                <button ng-class="{'disabled': Lightbox.images.length < 2}" class="btn btn-xs" ng-click=Lightbox.nextImage()>Next ›</button>
            </div>
        </div>
        <div class=lightbox-image-container>
            <div class=lightbox-image-caption><span>{{Lightbox.imageCaption}}</span></div>
            <img lightbox-src={{Lightbox.imageUrl}}>
        </div>
        <div>
            <div>
                <button ng-if="!uploading" class="btn btn-primary" ng-click="uploadImage(Lightbox.image.productId)">
                    <input type="file" nv-file-select uploader="uploader">
                </button>
                <div ng-if="uploading" class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{uploadProgress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{uploadProgress}}%">
                        <span class="sr-only">{{uploadProgress}} Complete</span>
                    </div>
                </div>
            </div>
            <div class="btn-group">
                <button ng-class="{'disabled': !(Lightbox.image.imageId && !(Lightbox.image.isPrimary))}" class="btn btn-success" ng-click="setPrimaryImage(Lightbox.image)">Set Primary
                </button>
                <button ng-class="{'disabled': !Lightbox.image.imageId}" class="btn btn-danger" ng-click="deleteImage(Lightbox.image)">Delete</button>
            </div>
        </div>
    </div>
</div>
