<div cg-busy="trackedPromises">
  <h1>Products</h1>
  <div ui-grid="gridOptions" external-scopes="gridScope" ui-grid-auto-resize ui-grid-resize-columns ui-grid-edit
       ui-grid-selection class="mainGrid"></div>
  <button type="button" class="btn btn-md btn-primary" ng-click="newProduct()">Add Product</button>
  <button ng-class="{ 'disabled': !entitySelected }" type="button" class="btn btn-md btn-danger"
          ng-click="deleteProduct()">Delete Product
  </button>
</div>
