<div cg-busy="populatePromise">
  <h1>Manage Quotations</h1>
  <div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-resize-columns ui-grid-edit ui-grid-selection
       class="mainGrid hidden-xs"></div>
  <div cg-busy="trackedPromises">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
              uib-tooltip="Change client status to save records">Change Status
      </button>
      <ul class="dropdown-menu">
        <li>
          <a ng-class="{ 'disabled': !canPresent(selectedEntry)}" type="button" class="btn btn-md btn-primary"
             ng-click="presentQuotation(selectedEntry)" uib-tooltip="This quotation has been sent to the client"
             tooltip-placement="right">Present Quotation </a>
        </li>
        <li>
          <a ng-class="{ 'disabled': !canProgress(selectedEntry)}" type="button" class="btn btn-md btn-success"
             ng-click="acceptQuotation(selectedEntry)" uib-tooltip="This quotation has been accepted by the client"
             tooltip-placement="right">Accept Quotation </a>
        </li>
        <li>
          <a ng-class="{ 'disabled': !canProgress(selectedEntry)}" type="button" class="btn btn-md btn-warning"
             ng-click="declineQuotation(selectedEntry)" uib-tooltip="This quotation has been declined by the client"
             tooltip-placement="right">Decline Quotation </a>
        </li>
        <li>
          <a ng-class="{ 'disabled': !canProgress(selectedEntry)}" type="button" class="btn btn-md btn-danger"
             ng-click="cancelQuotation(selectedEntry)" uib-tooltip="Cancel this quotation (Deletes historical record)"
             tooltip-placement="right">Cancel Quotation </a>
        </li>
      </ul>
    </div>
    <a ng-class="{ 'disabled': !canReview(selectedEntry)}" type="button" class="btn btn-md btn-danger"
            ng-click="reviewQuotation(selectedEntry)" uib-tooltip="Return Quotation to review so you can modify it.">
      Review Quotation
    </a>
    <a ng-class="{ 'disabled': !entitySelected}" type="button" class="btn btn-md btn-success"
            ng-click="downloadXLS(selectedEntry)" uib-tooltip="Download Excel quotation">Download Quotation
    </a>
  </div>
  <br>
  <div class="hidden-xs row" ng-if="selectedEntry">
    <div class="col-xs-12">
      <quotation-card expanded="true" modifiable="false" quotation="selectedEntry"></quotation-card>
    </div>
  </div>
  <div class="visible-xs row">
    <div ng-repeat="quotation in quotations" class="col-xs-12">
      <div ng-class="{ 'selected-quotation-card' : selectedEntry === quotation}">
        <quotation-card expanded="false" modifiable="false" quotation="quotation"
                        ng-click="selectQuotation(quotation)"></quotation-card>
      </div>
    </div>
  </div>
</div>
