<div cg-busy="populatePromise">
  <h1>Historical Quotations</h1>
  <div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-resize-columns ui-grid-edit ui-grid-selection
       class="mainGrid hidden-xs"></div>
  <div cg-busy="trackedPromises">
    <button ng-class="{ 'disabled': !entitySelected}" type="button" class="btn btn-md btn-success"
            ng-click="downloadXLS(selectedEntry)" uib-tooltip="Download Excel quotation">Download Quotation
    </button>
  </div>
  <br>
  <div class="hidden-xs row" ng-if="selectedEntry">
    <div class="col-xs-12">
      <quotation-card expanded="true" modifiable="false" quotation="selectedEntry.quotation"></quotation-card>
    </div>
  </div>
  <div class="visible-xs row">
    <div ng-repeat="quotation in records" class="col-xs-12">
      <div ng-class="{ 'selected-quotation-card' : selectedEntry === quotation}">
        <quotation-card expanded="false" modifiable="false" quotation="quotation.quotation"
                        ng-click="selectQuotation(quotation)"></quotation-card>
      </div>
    </div>
  </div>
</div>
