<div cg-busy="populatePromise">
    <h1 class="quotation-header">{{quotation.name}}</h1>
    <h2>Buyer</h2>
    <div>
        <pre>{{quotation.buyer.name + "\n" + quotation.buyer.company + "\n" + quotation.buyer.address + "\n" + quotation.buyer.phone + '\n' + quotation.buyer.email}}</pre>
    </div>
    <div class="remarksDisplay">
        <h3>Remarks:</h3>
        <textarea class="form-control" rows="3" ng-model="quotation.remarks" readonly></textarea>
    </div>
    <h2>Products</h2>
    <div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-resize-columns ui-grid-selection class="mainGrid"></div>
</div>
