<div cg-busy="populatePromise">
  <h1 class="quotation-header">{{quotation.name}}</h1>
  <h3>Buyer:</h3>
  <div ng-if="!searchingForBuyer">
    <div class="well well-sm">
      {{quotation.buyer.name}}<br>
      {{quotation.buyer.company}}<br>
      {{quotation.buyer.address}}<br>
      {{quotation.buyer.phone}}<br>
      {{quotation.buyer.email}}
    </div>
    <button type="button" class="btn btn-md btn-primary" ng-click="seeBuyerList()">Change Buyer</button>
  </div>
  <div ng-if="searchingForBuyer" class="buyerSearch">
    <div class="table-responsive">
      <buyer-list selected-buyer="quotation.buyer" buyer-selected="buyerSelected"></buyer-list>
    </div>
    <button ng-class="{ 'disabled': !buyerSelected }" type="button" class="btn btn-md btn-success"
            ng-click="updateBuyer()">Save Selection
    </button>
  </div>
  <div class="remarksDisplay">
    <h3>Remarks:</h3>
    <textarea class="form-control" rows="3" ng-model="quotation.remarks" placeholder="Quotation remarks..."
              ng-blur="updateRemarks()"></textarea>
  </div>
  <h3>Products:</h3>
  <div ng-if="!searchingForProducts" cg-busy="trackedPromises">
    <div ui-grid="gridOptions" ui-grid-edit ui-grid-auto-resize ui-grid-resize-columns ui-grid-selection
         class="mainGrid"></div>
    <button type="button" class="btn btn-md btn-primary" ng-click="seeProductSearch()">Find Products</button>
    <button ng-class="{ 'disabled': !entitySelected }" type="button" class="btn btn-md btn-danger"
            ng-click="removeProduct()">Remove Product
    </button>
  </div>
  <div ng-if="searchingForProducts">
    <product-search quotation-id="quotation.id" selected-products="productsToAdd"></product-search>
    <button type="button" class="btn btn-md btn-success" ng-click="updateProducts()">Save Selection</button>
  </div>
</div>
