<div cg-busy="populatePromise">
  <h1>Review Quotations</h1>
  <div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-resize-columns ui-grid-edit ui-grid-selection
       class="mainGrid hidden-xs"></div>
  <div cg-busy="trackedPromises">
    <button type="button" class="btn btn-md btn-success" ng-click="newQuotation()">Add Quotation</button>
    <button ng-class="{ 'disabled': !entitySelected }" class="btn btn-md btn-danger" ng-click="deleteQuotation()">Delete
      Quotation
    </button>
    <button ng-class="{ 'disabled': !entitySelected }" class="btn btn-md btn-primary"
            ng-click="finalizeQuotation(selectedEntry)">Finalize Quotation
    </button>
    <button ng-class="{ 'disabled': !entitySelected }" class="btn btn-md btn-primary"
            ng-click="calculatePrice(selectedEntry)">Calculate Price
    </button>
  </div>
  <br>
  <div class="hidden-xs row" ng-if="selectedEntry">
    <div class="col-xs-12">
      <quotation-card expanded="true" modifiable="true" quotation="selectedEntry"></quotation-card>
    </div>
  </div>
  <div class="visible-xs row">
    <div ng-repeat="quotation in quotations" class="col-xs-12">
      <div ng-class="{ 'selected-quotation-card' : selectedEntry === quotation}">
        <quotation-card expanded="false" modifiable="true" quotation="quotation"
                        ng-click="selectQuotation(quotation)"></quotation-card>
      </div>
    </div>
  </div>
</div>
