<div class="panel panel-primary">
  <div class="panel-heading">
    <small class="panel-title">{{quotation.name}}</small>
    <div class="btn-group pull-right">
      <button class="btn btn-primary" ng-click="modifyQuotation()" ng-show="modifiable">
        <span class="glyphicon glyphicon-cog"></span>
      </button>
      <button class="btn btn-primary" ng-click="expand()">
        <span class="glyphicon"
              ng-class="{ 'glyphicon-collapse-down': !expanded, 'glyphicon-collapse-up': expanded }">
        </span>
      </button>
    </div>
  </div>
  <div class="panel-body" ng-show="expanded">
    <div class="well well-sm">Last Updated: {{quotation.lastModified | date}}<br>
      Status: {{quotation.status}}<br>
      Total Value: {{quotation.price | currency}}
    </div>
    <div ng-show="quotation.buyer" class="well well-sm">
      {{quotation.buyer.name}}<br>
      {{quotation.buyer.company}}<br>
      {{quotation.buyer.address}}<br>
      {{quotation.buyer.phone}}<br>
      {{quotation.buyer.email}}
    </div>
    Comments:
    <div class="well well-sm">{{quotation.remarks || 'No Comments'}}</div>
    <div class="table-responsive">
      <table class="table table-striped" ng-show="expanded">
        <thead>
        <tr>
          <th>Product Code</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Total Price</th>
        </tr>
        </thead>
        <tr ng-repeat="product in quotation.products">
          <td>{{product.product.productCode}}</td>
          <td>{{(product.product.price - product.discount) | currency}}</td>
          <td>{{product.quantity}}</td>
          <td>{{(product.product.price - product.discount) * product.quantity | currency }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
