<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="page.home">Ah Lo Product Manager</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right" ng-controller="NavbarController">
        <li ng-repeat="group in navBarGroups" ng-if="group.viewable()" class="dropdown">
          <a style="cursor: pointer;" class="dropdown-toggle" data-toggle="dropdown">{{group.title}}<span
            class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-repeat="nav in group.groupItems" ng-class="{active: currentStateName === nav.sref}"
                ng-if="nav.viewable()">
              <a class="visible-xs" data-toggle="collapse" data-target="#navbar"
                 ui-sref="{{nav.sref}}">{{nav.title}}</a>
              <a class="hidden-xs" ui-sref="{{nav.sref}}">{{nav.title}}</a>
            </li>
          </ul>
        </li>
        <li ng-repeat="nav in navBarItems" ng-class="{active: currentStateName === nav.sref}" ng-if="nav.viewable()">
          <a class="visible-xs" data-toggle="collapse" data-target="#navbar" ui-sref="{{nav.sref}}">{{nav.title}}</a>
          <a class="hidden-xs" ui-sref="{{nav.sref}}">{{nav.title}}</a>
        </li>
        <li role="separator" class="divider"></li>
        <li ng-repeat="nav in navBarTasks" ng-click="nav.clicked()">
          <a style="cursor: pointer;">{{nav.title}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="main">
    <div ui-view></div>
    <br>
  </div>
</div>
<div class="container-fluid">
  <div class="footer main">
    <p>&copy 2016 Cameron Newton</p>
  </div>
</div>
